
<h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to "#{song.title}", song_path(song) %>
        <br>
        <% if @song.artist %>
            <%= song.artist_name %>
        <% end %>
        <%= song.title %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a song', new_song_path %>

